*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    font-size: 1.3rem;
    background-color: tan;
    border: 2px black dashed;
    display: flex;
    justify-content: space-around;
}

header > h1 {
    text-align: center;
    margin: 1rem;
}

main {
    font-size: 1.1rem;
}

.intro-screen-div, .search-screen {
    background-color: rgba(46, 186, 189, .6);
    border: 2px solid black;
    margin: 5rem auto 0 auto;
    padding-bottom: 1rem;
    max-width: 500px;
    border-radius: 20px;
}

.intro-screen-div {
    text-align: center;
}

.search-form {
    padding-left: 5rem;
}

.group {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.item {
    background-color: rgba(46, 186, 189, .6);
    border: 1px solid black;
    text-align: center;
    margin: .5rem auto;
    padding: .4rem;
    width: 80%;
    border-radius: 20px;
    min-width: 75px;
    height: 2.5rem;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

