*, *::before, *::after {
    box-sizing: border-box;
    /* outline: blue dotted 1px; */
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: tan;
    border: 2px black dashed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 3px;
}

header > h1 {
    font-size: 1.7rem; 
    text-align: center;
    margin: .6rem;
}

header > input {
    width: 75px;
    white-space: normal;
    text-align:center;
}

main {
    font-size: 1.1rem;
}

h4 {
    text-align: center;
    width: 100%;
    margin: 0;
    height: 2.5rem;
    padding: 0 5%;
}

.intro-screen-div, .search-screen {
    background-color: rgba(46, 186, 189, .6);
    border: 2px solid black;
    margin: 5rem auto 0 auto;
    padding-bottom: 1rem;
    max-width: 500px;
    border-radius: 20px;
}

.intro-screen-div {
    text-align: center;
}

.search-form {
    padding-left: 3rem;
}

.group {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.item {
    background-color: rgba(46, 186, 189, .6);
    border: 1px solid black;
    text-align: center;
    margin: .5rem auto;
    padding: .4rem;
    width: 80%;
    border-radius: 20px;
    min-width: 75px;
    height: auto;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.restimg {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: auto auto;
}

.imgcontainer {
    max-width: 45%;
    display: flex;
}
.restcontainer {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.restbox {
    background-color: rgba(46, 186, 189, .6);
    border: 1px solid black;
    margin: .5rem auto;
    padding: .4rem;
    width: 100%;
    border-radius: 5px;
    min-width: 75px;
    /* height: auto; */
}

.restcontent {
    display: flex;
    
}

.resttext {
    display: flex;
    flex-direction: column;
    margin-left: .7rem;
    max-width: 55%;
}
.resttext p {
    margin: .2rem 0;
    padding: 0;
    max-width: 100%;
    font-size: 1rem;
}


@media only screen and (min-width: 600px) {
    main {
        margin-left: 15%;
        margin-right: 15%;
    }
}